/*
  ========================================
  HTML, CSS RESET
  ========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  INITIAL GRID
  ========================================
*/

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/* We inherit box-sizing: border-box; from our <html> selector */
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  background-attachment: fixed;
  letter-spacing: -1px;
}

.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  /* border: 5px solid rgba(0, 0, 0, 0.03); */
  /* border-radius: 3px; */
  /* font-size: 72px; */
}



/* .container-template {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  height: 600px;
  border: 5px solid yellow;
} */

/*
  ========================================
  KRUGER CUSTOM
  ========================================
*/

.container {
  display: grid;
  /* grid-gap: 2px; */
  grid-template-columns: repeat(5, 1fr);
  height: 600px;
  width: 960px;
  /* border: 5px solid yellow; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 2); */
}

.item1 {
  display: inline-block;
  padding: 40px 0 0 20px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  text-align: justify;
  letter-spacing: 10px;
  /* font-family: 'Michroma', sans-serif; */
  border-radius: 0 0 3px 0;
}

.item3 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}
.item4 {
  grid-column: 1 / span 5;
  grid-row: 4 / span 4;
}

.red {
  background: linear-gradient(to right, #B81204, 	#DC281D);
  opacity: 0.9;
}

.blue {
  background-image: linear-gradient(to right,#1E2573, #0C1863);
  opacity: 0.9;

}
