/*
  ========================================
  HTML, CSS RESET
  ========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
   BODY
  ========================================
*/
body {
  background-color: #e2e1dd;
  opacity: 0.63;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}


/*
  ========================================
   TYPOGRAPHY
  ========================================
*/
p {
  text-align: center;
}

ul {
  font-size: 14px;
}

/*
  ========================================
   CLASS RULES
  ========================================
*/

.title, .logo, .letter {
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif; font-weight: 900;
}

.letter {
  font-size: 64px;
}

.title {
  font-size: 56px;
}

p.logo {
  font-size: 36px;
}


.subtitle {
  font-size: 16px;
}

/*
  ========================================
   GRID RULES FOR COLUMNS
  ========================================
*/

.grid ul {
  margin: 0 auto;
}

.col-1-4 {
  margin: 0 auto;
  display: inline-block;
  width: 23%;
}
