/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  GRID
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

.grid,
.container {
  width: 540px;
  margin: 0 auto;

}

.container {
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0px solid #fff;
}

/*
  ========================================
  Custom Styles
  ========================================
*/

body {
  background: #1f2228;
  color: #fff;
  font-family: 'Playfair Display SC', serif;
  font-weight: 100;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
  /* font-size: 96px; */
}

/*
  ========================================
  HEADER FONTS
  ========================================
*/

h1.first-header {
  font-size: 4.5em;
}

h1.second-header {
  font-size: 6.1em;
}

h1.third-header {
  font-size: 4.2em;
}

h1.fourth-header {
  font-size: 4.7em;
  margin-bottom: 10%;
}

/*
  ========================================
  AUTHOR + NAV LINE
  ========================================
*/

nav {
  margin-bottom: 7%
}

.author  {
  display: inline-block;
  width: 50%;
  font-size: 2em;
  text-align: left;
}

.blog {
  display: inline-block;
  width: 20%;
  margin: 0 10px;
  text-align: right;
  font-size: 2em;
}

.github {
  display: inline-block;
  width: 20%;
  text-align: right;
  font-size: 2em;
  margin-left: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

/*
  ========================================
  PORTOLIO
  ========================================
*/

.portfolio,
.nav li {
  font-family: 'Playfair Display', serif;
}

ul li {
  /* change font to be relative */
  width: 100%;
  margin-bottom: 3%;
}
