:root {
  --grey: #343436;
}

/*
Table of contents
Global reset
Minimal base styles (generic)
Extended base styles (site specific)
Common shared styles
Page structure
Navigation
Headings
Footer
Forms
Printer styles
Handheld styles
*/

/*
  ========================================
  HTML, CSS RESET
  ========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* /////////////////// */
/* /// BASE STYLES /// */
/* ////////////////// */

/* @mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
} */


/* MOBILE */

@media only screen and (max-width: 599px) {
  #title {
    font-size: 28px;
    padding: 2% 0 1% 0;
  }
}

#population, #submit {
  display: inline-block;
}

a {
  font-size: 24px;
  color: blue;
  margin: 10px;

}

main {
  margin-left: 5%;
  font-family: 'Zilla Slab', serif;
}

ol, #what, #submit {
  margin-bottom: 2%;
}

#rules {
  text-decoration: underline;
}
