/*
  ========================================
  HTML, CSS RESET
  ========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
   BODY
  ========================================
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #e2e1dd;
  opacity: 0.63;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

.container {
  /* margin: 0 auto; */
  width: 960px;
  margin: 2% 15%;
  justify-content: center;
}

/*
  ========================================
   TYPOGRAPHY
  ========================================
*/
p {
  text-align: center;
}

ul {
  font-size: 14px;
}

/*
  ========================================
   CLASS RULES
  ========================================
*/

.title, .logo, .letter {
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif; font-weight: 900;
}

.letter {
  font-size: 64px;
}

.title {
  font-size: 64px;
  line-height: 0.8;
  margin-bottom: 15px;
}

p.logo {
  font-size: 36px;
}

.fine-print {
  font-size: 14px;
  opacity: .75;
}

.send-money {
  width: 272px;
  text-align: left;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 40px;
  box-sizing: border-box;
  height: 100px;
  width: 675px;
  line-height: 1.2;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}


/*
  ========================================
   GRID RULES FOR COLUMNS
  ========================================
*/
.grid {
  margin-left: 5%;
}

.grid ul {
  margin: 0 auto;
  margin-bottom: 10px;

}

.col-1-4 {
  margin: 0 auto;
  display: inline-block;
  width: 23%;
}

/*
  ========================================
   FOOTER
  ========================================
*/

footer {
  padding-left: 3%;
}

footer p {
  display: inline-block;
}
